#slideshow {
    overflow: hidden;
    height: 550px;
    width: 100%;
    margin: 0 auto;
    margin-top: 4px;
}

.slide-wrapper {
    width: calc(100% * 6);
    text-align: center;
    -webkit-animation: slide 14s ease infinite;
}

.slide {
    float: left;
    height: 550px;
    width: calc(100% / 6);
}

.slide a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.slide img {
    width: 100%;
}

@-webkit-keyframes slide {
    10% {
        margin-left: 0px;
    }
    20% {
        margin-left: -100%;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    70% {
        margin-left: -300%;
    }
    80% {
        margin-left: -400%;
    }
    90% {
        margin-left: -400%;
    }
}